@import url(fonts.css);
@import url(desktop.css);
@import url(mobile.css);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 886px;
  margin: 0 auto;
  padding: 0 15px;
}
